.form {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__title {
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.form__input {}

.form__footer {
    display: flex;
    justify-content: flex-end;
}

.footer-container__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footer-container__button {
    margin-left: 16px;
}