.basic-post {
    width: 40%;
    margin: 0 auto;
}

.basic-post__content {
    min-height: 120px;
}

.basic-post__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.basic-post__list {
    width: 100%;
}

.change-content {
    width: 400px;
    margin: 20px;
}