.post {
    height: 350px;
    transition: all 0.3s ease;
}

.post:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.post-link {
    text-decoration: none;
    color: black;
}

.post-link:hover {
    text-decoration: none;
    color: black;
}

.post__content {}

.post__comments {
    margin: 15px;
    opacity: 0.5;
}